In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
info_wt = pd.read_csv('info_wt.csv')
comments = pd.read_csv('comments.csv')

In [3]:
print('user의 수 : ', len(set(comments['user_id'])))
print('웹툰의 수 : ', len(set(comments['wt_num'])))
print('댓글의 수 : ', len(comments))

user의 수 :  39171
웹툰의 수 :  139
댓글의 수 :  735501

In [4]:
comments.describe()

             chapter           like        dislike         wt_num
count  735501.000000  735501.000000  735501.000000  735501.000000
mean      157.972385      58.724339       3.004727      87.920857
std       208.101928    1014.708363      39.715578      54.049251
min         1.000000       0.000000       0.000000       0.000000
25%        23.000000       0.000000       0.000000      47.000000
50%       121.000000       1.000000       0.000000      86.000000
75%       209.000000       3.000000       2.000000     130.000000
max      1215.000000  111989.000000   15576.000000     191.000000

In [5]:
info_wt = pd.read_csv('info_wt.csv')
info_wt.tail()

     wt_num     title  score artist   genre  chapter  reader
134     186       도망자   9.93    신영우  action       53      72
135     187      호랭총각   9.90    강호진   comic       45     218
136     188  뱀이 앉은 자리   9.97    김이연   drama       48     383
137     190        내일   9.98     라마   daily       14     239
138     191     귀도호가록   9.97    이수민  action       16     400

In [6]:
import statsmodels.api as sm

In [7]:
y = info_wt[["reader"]]

In [8]:
model = sm.OLS.from_formula("reader ~ C(artist)", info_wt)
result = model.fit()
# print(result.summary())

In [9]:
comments_1 = comments[['user_id','wt_num']]
comments_1['count'] = 1
comments_1 = comments_1.groupby(['user_id','wt_num']).sum()

In [10]:
user_id = list(set(comments['user_id']))
wt_num = list(set(comments['wt_num']))

In [11]:
user_df = pd.DataFrame(data = 0,index = user_id, columns= wt_num)

In [12]:
user_df.loc['구름****(js74****)'][0] = 1

In [ ]:
for id in user_id :
    numwt = list(comments_1.loc[id].index)
    for num in numwt :
        user_df.loc[id][num] = int(comments_1.loc[id].loc[num])

In [ ]:
user_df

In [ ]:
|