In [1]:
import warnings
warnings.filterwarnings("ignore")

###  info_wt.csv : 웹툰의 정보 (타이틀, 작가, 홧수 등)
### comments.csv : 댓글의 정보 (유저id, 댓글, 댓글이 쓰여진 웹툰 등)

In [2]:
info_wt = pd.read_csv('info_wt.csv')
comments = pd.read_csv('comments.csv')

In [3]:
print('user의 수 : ', len(set(comments['user_id'])))
print('웹툰의 수  : ', len(set(comments['wt_num'])))
print('댓글의 수  : ', len(comments))

user의 수 :  39171
웹툰의 수  :  139
댓글의 수  :  735501

In [4]:
comments.describe()

             chapter           like        dislike         wt_num
count  735501.000000  735501.000000  735501.000000  735501.000000
mean      157.972385      58.724339       3.004727      87.920857
std       208.101928    1014.708363      39.715578      54.049251
min         1.000000       0.000000       0.000000       0.000000
25%        23.000000       0.000000       0.000000      47.000000
50%       121.000000       1.000000       0.000000      86.000000
75%       209.000000       3.000000       2.000000     130.000000
max      1215.000000  111989.000000   15576.000000     191.000000

In [5]:
info_wt = pd.read_csv('info_wt.csv')
info_wt[:10]

   wt_num        title  score     artist    genre  chapter  reader
0       0         신의 탑   9.93        SIU  fantasy      380     982
1       1      뷰티풀 군바리   9.82   설이 / 윤성원    drama      161    2332
2       2       윈드브레이커   9.96        조용석    drama      212     550
3       3       소녀의 세계   9.98        모랑지    daily      141     355
4       5       평범한 8반   9.95        영파카    comic      213     485
5       6         니편내편   9.91         미티    drama       26     132
6       7           피플   9.89  서승준 / 손창균    drama      518      74
7       8  가우스전자 시즌3~4   9.97        곽백수    comic        6     133
8       9   심연의 하늘 시즌5   9.92  윤인완 / 김선희   thrill       33    2835
9      10   마왕이 되는 중2야   9.95         38    comic       28     285

In [6]:
import statsmodels.api as sm

In [7]:
y = info_wt[["reader"]]

In [8]:
model = sm.OLS.from_formula("reader ~ C(artist)", info_wt)
result = model.fit()
# print(result.summary())

In [9]:
comments_1 = comments[['user_id','wt_num']]
comments_1['count'] = 1
comments_1 = comments_1.groupby(['user_id','wt_num']).sum()

In [10]:
user_id = list(set(comments['user_id']))
wt_num = list(set(comments['wt_num']))

### 웹툰마다 댓글을 몇개 썼는지 보는 테이블

In [11]:
user_df = pd.DataFrame(data = 0,index = user_id, columns= wt_num)

In [12]:
for id in user_id :
    numwt = list(comments_1.loc[id].index)
    for num in numwt :
        user_df.loc[id][num] = int(comments_1.loc[id].loc[num])

In [13]:
display(user_df.head())
len(user_df)

,0,1,2,3,5,6,7,8,9,10,...,180,182,183,184,185,186,187,188,190,191
가나****(racc****),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
이민****(nekd****),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
우주****(hpsi****),0,0,0,0,0,0,0,0,23,0,...,0,0,0,0,0,0,0,0,0,0
레몬****(ekag****),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
강동****(rgd1****),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

39171

### 댓글을 썼는지 안썼는지 만 판단하는 테이블

In [14]:
user_wt_matrix = user_df.copy()

In [15]:
user_wt_matrix1 = user_wt_matrix.copy()
for i in range(len(user_wt_matrix1)):
    try:
        for j in range(len(user_wt_matrix1[i])):
            if user_wt_matrix1[i][j] != 0:
                user_wt_matrix1[i][j] = 1
    except:
        pass

In [16]:
for i in range(20):
    n = len(user_wt_matrix1[user_wt_matrix1.sum(axis=1)>i])
    print(i+1, "개 이상의 웹툰에 댓글을 단 사람은",n, "명")

1 개 이상의 웹툰에 댓글을 단 사람은 39171 명
2 개 이상의 웹툰에 댓글을 단 사람은 12135 명
3 개 이상의 웹툰에 댓글을 단 사람은 5774 명
4 개 이상의 웹툰에 댓글을 단 사람은 3290 명
5 개 이상의 웹툰에 댓글을 단 사람은 2150 명
6 개 이상의 웹툰에 댓글을 단 사람은 1535 명
7 개 이상의 웹툰에 댓글을 단 사람은 1121 명
8 개 이상의 웹툰에 댓글을 단 사람은 873 명
9 개 이상의 웹툰에 댓글을 단 사람은 683 명
10 개 이상의 웹툰에 댓글을 단 사람은 535 명
11 개 이상의 웹툰에 댓글을 단 사람은 437 명
12 개 이상의 웹툰에 댓글을 단 사람은 345 명
13 개 이상의 웹툰에 댓글을 단 사람은 285 명
14 개 이상의 웹툰에 댓글을 단 사람은 236 명
15 개 이상의 웹툰에 댓글을 단 사람은 210 명
16 개 이상의 웹툰에 댓글을 단 사람은 184 명
17 개 이상의 웹툰에 댓글을 단 사람은 163 명
18 개 이상의 웹툰에 댓글을 단 사람은 141 명
19 개 이상의 웹툰에 댓글을 단 사람은 122 명
20 개 이상의 웹툰에 댓글을 단 사람은 104 명

In [17]:
for i in range(29,130,10):
    n = len(user_wt_matrix1[user_wt_matrix1.sum(axis=1)>i])
    print(i+1, "개 이상의 웹툰에 댓글을 단 사람은",n, "명")

30 개 이상의 웹툰에 댓글을 단 사람은 44 명
40 개 이상의 웹툰에 댓글을 단 사람은 20 명
50 개 이상의 웹툰에 댓글을 단 사람은 6 명
60 개 이상의 웹툰에 댓글을 단 사람은 4 명
70 개 이상의 웹툰에 댓글을 단 사람은 3 명
80 개 이상의 웹툰에 댓글을 단 사람은 1 명
90 개 이상의 웹툰에 댓글을 단 사람은 1 명
100 개 이상의 웹툰에 댓글을 단 사람은 1 명
110 개 이상의 웹툰에 댓글을 단 사람은 1 명
120 개 이상의 웹툰에 댓글을 단 사람은 0 명
130 개 이상의 웹툰에 댓글을 단 사람은 0 명

### cosine 유사도를 통한 추천 시스템

In [18]:
from scipy.spatial import distance
from sklearn.preprocessing import scale

def find_sim_user(user_id):

    user_wt_matrix = user_df.copy()
    def cosine_distance(a, b):
        return 1 - distance.cosine(a, b)
    vector_1 = user_wt_matrix.copy()
    vector_1 = scale(vector_1)
    scale_df = pd.DataFrame(data = vector_1, index = user_wt_matrix.index, columns = user_wt_matrix.columns)

    empty = np.zeros((1, len(scale_df)))
    scale_df.index = range(len(scale_df))
    userls = list(set(comments['user_id']))
    ls_num_user = pd.DataFrame(userls)
    ls_user_num = pd.DataFrame(data = ls_num_user.index, index = list(ls_num_user[0]))
    ls_user_num = ls_user_num.loc[user_id][0]

    for i in range(len(empty[0])):
        if i != ls_user_num:
            empty[0, i] = cosine_distance(scale_df.loc[ls_user_num], scale_df.loc[i])
    sim_user_num = []
    for _ in range(300):
        a = empty.argmax()
        sim_user_num.append(a)
        empty[0][a] = 0
    sim_user_id = [(ls_num_user.loc[i][0]) for i in sim_user_num]
    return sim_user_id

In [19]:
def is_user_wt(user_id):
    df = pd.DataFrame(user_df.loc[user_id])
    wtls = list(df[df[user_id] != 0].index)
    wt_title = []
    for wtnum in wtls:
        wt_title.append(info_wt[info_wt['wt_num']==wtnum]['title'].values[0])
    return wt_title

In [20]:
def recommend_webtoon(user_id):
    ls = []
    print(user_id,'은', is_user_wt(user_id), '을 즐겨봅니다.')
    for id in find_sim_user(user_id):
        for n in range(len(is_user_wt(id))):
            ls.append(is_user_wt(id)[n])

    df = pd.DataFrame(ls, columns= ['title'])
    df = df.groupby(by='title').size().reset_index(name='count').sort_values('count', ascending=False) 
    for wt in is_user_wt(user_id):
        df = df[df['title'] != wt]
    if len(df) == 0:
        print(user_id,'은 데이터가 적어서 추천할 수 없습니다.')
    return df.reset_index()

In [21]:
df = comments.sample(3)
sample = list(df['user_id'])

In [24]:
for id in sample:
    df = recommend_webtoon(id)
    df = df.drop(['index'],axis=1)
    display(df.head(10))

큰 ****(nota****) 은 ['마스크걸'] 을 즐겨봅니다.

         title  count
0   심연의 하늘 시즌5    155
1  이말년씨리즈 2018     40
2        신암행어사     22
3           혈투     17
4        프리드로우     17
5          테러맨     15
6  헬퍼 2 : 킬베로스     14
7         하이브3     14
8       히어로메이커     12
9       조선왕조실톡     12

정시****(toll****) 은 ['평범한 8반', '랜덤채팅의 그녀!', '그 판타지 세계에서 사는 법', '금수저', '비질란테', '덴마'] 을 즐겨봅니다.

        title  count
0        연애혁명     35
1      성공한 덕후      6
2      외모지상주의      5
3     걸어서 30분      2
4     뷰티풀 군바리      2
5     진눈깨비 소년      2
6       호랑이형님      2
7  심연의 하늘 시즌5      1
8     안녕, 대학생      1
9    이것도 친구라고      1

김정****(juni****) 은 ['아기낳는만화', '연애혁명', '식스틴'] 을 즐겨봅니다.

       title  count
0     외모지상주의     37
1       스위트홈     31
2  랜덤채팅의 그녀!     21
3        부활남     19
4       신의 탑     18
5  갓 오브 하이스쿨     17
6      나노리스트     16
7    뷰티풀 군바리     16
8     성공한 덕후     14
9   5kg을 위하여     14