In [39]:
def drop_user(wt_num):
    dff = pd.read_csv('data/webtoon_{}.csv'.format(wt_num), index_col = 0)
    count_user = dff.groupby(['user_id']).size().reset_index(name='Counts').sort_values(by='Counts',ascending=False)
    print(wt_num,', number of drop_user : ',len(count_user[count_user['Counts'] < 5]))
    drop_user = list(count_user[count_user['Counts'] < 5]['user_id'])
    df = dff.copy()
    for idx in range(len(df)): 
        if df['user_id'][idx] in drop_user:
            df = df.drop(idx)
    df.to_csv('data/dropu_webtoon_{}.csv'.format(wt_num))        
    return df.reset_index()

In [58]:
ls_wt_num = list(range(193))
for i in ls_wt_num:
    if i in [176,35,82,160,196,181,12,158,182,100,43,69,145,125,96,41,64,88,154,167,174,61,111,194,99,151,171,193,156,168]:
        ls_wt_num.remove(i)

In [60]:
len(ls_wt_num)

169

In [ ]:
for i in ls_wt_num:
    if i > 100:
        try:
            drop_user(i)
        except:
            pass

101 , number of drop_user :  6756
102 , number of drop_user :  5743
103 , number of drop_user :  3894
104 , number of drop_user :  4411
105 , number of drop_user :  4002
106 , number of drop_user :  8427
107 , number of drop_user :  3846
108 , number of drop_user :  1682
109 , number of drop_user :  6988
110 , number of drop_user :  1359
112 , number of drop_user :  11284
113 , number of drop_user :  709
114 , number of drop_user :  494
115 , number of drop_user :  60007
116 , number of drop_user :  21134
117 , number of drop_user :  6878
118 , number of drop_user :  32768
119 , number of drop_user :  7586
120 , number of drop_user :  12952
121 , number of drop_user :  8107
122 , number of drop_user :  9578
123 , number of drop_user :  12919
124 , number of drop_user :  19566
126 , number of drop_user :  5752
127 , number of drop_user :  17421
128 , number of drop_user :  3918
129 , number of drop_user :  2858
130 , number of drop_user :  14121
131 , number of drop_user :  4439
132 , number of drop_user :  4775
133 , number of drop_user :  2819
134 , number of drop_user :  6650
135 , number of drop_user :  1241
136 , number of drop_user :  5128
137 , number of drop_user :  4275
138 , number of drop_user :  2340
139 , number of drop_user :  1569
140 , number of drop_user :  2942
141 , number of drop_user :  1613
142 , number of drop_user :  28656
143 , number of drop_user :  13867
144 , number of drop_user :  29965
146 , number of drop_user :  17118
147 , number of drop_user :  11771
148 , number of drop_user :  10453
149 , number of drop_user :  26355
150 , number of drop_user :  14614
152 , number of drop_user :  14111
153 , number of drop_user :  10259
155 , number of drop_user :  10724
157 , number of drop_user :  5767
159 , number of drop_user :  4142
161 , number of drop_user :  13189
162 , number of drop_user :  9796
163 , number of drop_user :  12107
164 , number of drop_user :  3035
165 , number of drop_user :  9899
166 , number of drop_user :  9015
168 , number of drop_user :  25872
169 , number of drop_user :  21886
170 , number of drop_user :  28281
172 , number of drop_user :  9862
173 , number of drop_user :  11221
175 , number of drop_user :  8108
177 , number of drop_user :  16249
178 , number of drop_user :  12344
179 , number of drop_user :  3680
180 , number of drop_user :  4522
182 , number of drop_user :  6033
183 , number of drop_user :  6111
184 , number of drop_user :  6000
185 , number of drop_user :  4229
186 , number of drop_user :  3933
187 , number of drop_user :  8622
188 , number of drop_user :  12843
189 , number of drop_user :  3439
190 , number of drop_user :  10302
191 , number of drop_user :  16001